.gridContainer {
    display:grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    align-content: center;
    grid-row-gap: 15px;

}

.pagination button{
    margin:2px;
}

.pagination .selected{
    background-color:blue;
    border-color:white;
    color:white;
}
